@font-face {
    font-family: 'SF UI Display';
    src: local('SF UI Display Regular'), local('SFUIDisplay-Regular'),
        url('~/assets/fonts/SFUIDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: local('SF UI Display Ultralight'), local('SFUIDisplay-Ultralight'),
        url('~/assets/fonts/SFUIDisplay-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: local('SF UI Display Heavy'), local('SFUIDisplay-Heavy'),
        url('~/assets/fonts/SFUIDisplay-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: local('SF UI Display Black'), local('SFUIDisplay-Black'),
        url('~/assets/fonts/SFUIDisplay-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: local('SF UI Display Semibold'), local('SFUIDisplay-Semibold'),
        url('~/assets/fonts/SFUIDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: local('SF UI Display Bold'), local('SFUIDisplay-Bold'),
        url('~/assets/fonts/SFUIDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: local('SF UI Display Thin'), local('SFUIDisplay-Thin'),
        url('~/assets/fonts/SFUIDisplay-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'SF UI Display';
    src: local('SF UI Display Medium'), local('SFUIDisplay-Medium'),
        url('~/assets/fonts/SFUIDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: local('SF UI Display Light'), local('SFUIDisplay-Light'),
        url('~/assets/fonts/SFUIDisplay-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

/* ------------------- SF Mono ------------------- */

@font-face {
    font-family: 'SFMono';
    src: local('SFMono BoldItalic'), local('SFMono-BoldItalic'),
        url('~/assets/fonts/SFMono-BoldItalic.otf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFMono';
    src: local('SFMono Bold'), local('SFMono-Bold'),
        url('~/assets/fonts/SFMono-Bold.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFMono';
    src: local('SFMono Heavy'), local('SFMono-Heavy'),
        url('~/assets/fonts/SFMono-Heavy.otf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFMono';
    src: local('SFMono HeavyItalic'), local('SFMono-HeavyItalic'),
        url('~/assets/fonts/SFMono-HeavyItalic.otf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFMono';
    src: local('SFMono LightItalic'), local('SFMono-LightItalic'),
        url('~/assets/fonts/SFMono-LightItalic.otf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFMono';
    src: local('SFMono Light'), local('SFMono-Light'),
        url('~/assets/fonts/SFMono-Light.otf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFMono';
    src: local('SFMono Medium'), local('SFMono-Medium'),
        url('~/assets/fonts/SFMono-Medium.otf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFMono';
    src: local('SFMono Regular'), local('SFMono-Regular'),
        url('~/assets/fonts/SFMono-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFMono';
    src: local('SFMono MediumItalic'), local('SFMono-MediumItalic'),
        url('~/assets/fonts/SFMono-MediumItalic.otf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFMono';
    src: local('SFMono RegularItalic'), local('SFMono-RegularItalic'),
        url('~/assets/fonts/SFMono-RegularItalic.otf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFMono';
    src: local('SFMono Semibold'), local('SFMono-Semibold'),
        url('~/assets/fonts/SFMono-Semibold.otf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFMono';
    src: local('SFMono SemiboldItalic'), local('SFMono-SemiboldItalic'),
        url('~/assets/fonts/SFMono-SemiboldItalic.otf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

